.popup__form {
  box-sizing: border-box;
  width: 430px;
  background-color: white;
  display: flex;
  margin-left: 19px;
  margin-right: 19px;
  flex-direction: column;
  padding-right: 36px;
  padding-left: 36px;
  padding-top: 34px;
  padding-bottom: 37px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 320px) and (max-width: 500px) {
  .popup__form {
    width: 282px;
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
